0 2 * * * root /lco/throughput/deploy/runphotzp-docker.sh >>/proc/1/fd/1 2>&1

#* * * * * root /bin/echo "Hello `date`"  >>/proc/1/fd/1 2>&1
#* * * * * root /bin/echo "Hello `date`"  >>/var/log/echotest
